// Text Colors
$text-muted: rgba(0,0,0,.45);
$text-primary: rgb(23, 57, 77);
$bg-primary: rgb(223, 227, 230);

// Brand Colors
$brand-primary: rgb(102, 135, 254);
$brand-secondary: rgb(156, 114, 214);

// Black and White

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);